

.user-page{

  .header{
    background: rgba(0,0,0,0.8) !important;
    // backdrop-filter: none !important;
  }


  .card-profile-image img {
    max-width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 4px !important;
    transform: translate(-50%, -30%);
    position: absolute;
    left: 50%;
    transition: all .15s ease;
  box-shadow: 0 5px 10px rgba(133, 143, 182, 0.267), 0 15px 40px rgba(166,173,201,.2) !important;
}
}


.user-header{
  background: rgba(0,0,0,0.5);
  padding: 10px;
}

.user-banner{
  width: 100%;
  height: 30vh;
  // background: url('../assets/mapx.png');
  // background-size: cover;
  // filter: hue-rotate(190deg);
  position: fixed;
  top: 0px;
}

.user-panel{
  min-height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #fff;
  width: 100%;
  top: 15vh;
  border-radius: 20px 20px 0px 0px;
  z-index: 9;
  position: absolute;


}

.danger-btn{
  background: rgb(131, 12, 12);
  border:none;
}


.incident-card{
  min-width: 300px;
  height: 100%;
  border-radius: 4px;
  padding: 10px 15px;
  margin-right: 10px;
  overflow: hidden;
  white-space: normal;

  .reportee{
    width: 100%;
    display: flex;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;

    img{
      height: 40px;
      width: 40px;
      border-radius: 100%;
      object-fit: cover;
    }

    span{
      position: relative;
      top: 10px;
      left: 10px;
    }


  }
}

.pin-banner{
  display: grid;
  img{
    margin: auto;
    width: 160px;
  }
}