.dashboard-page {
  height: 100vh;
  width: 100%;
  background: #000;
}

.onos-sidebar {
  position: fixed;
  left: 0px;
  height: 100vh;
  bottom: 0px;
  top: 0px;
  width: 50px;
  background: rgba(8, 23, 88, 0.411);
  backdrop-filter: blur(5px);
  z-index: 99;
  padding: 15px 10px;

  .onos-logo {
    width: 35px;
  }
}
