.dashboard-page {
  height: 100vh;
  width: 100%;
  background: #000;
}

.onos-sidebar {
  position: fixed;
  left: 0px;
  height: 100vh;
  bottom: 0px;
  top: 0px;
  width: 40px;
  background: rgba(5, 15, 43, 0.788);
  backdrop-filter: blur(5px);
  z-index: 99;
  // padding: 15px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .onos-logo {
    width: 22px;
    margin: 12px auto;
  }

  .sidebar-nav {
    margin: 10px auto;
    display: flex;
    flex-direction: column;

    i {
      padding: 5px;
      margin-top: 15px;
      border-radius: 2px;
      color: rgba(148, 146, 146, 0.877);
      background: rgba(8, 8, 44, 0.973);
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background: rgba(10, 10, 126, 0.973);
        color: #fff;
        transition: 0.3s;
      }

      &.active {
        background: rgba(23, 197, 197, 0.973);
        color: rgba(10, 10, 126, 0.973);
        transition: 0.3s;
      }
    }
  }
}

.info-bar {
  position: fixed;
  height: 100vh;
  width: 300px;
  // background: rgba(14, 14, 14, 0.836);
  background: rgba(46, 45, 45, 0.836);
  z-index: 99;
  right: 0px;
  top: 0px;
  display: none;
}

.map-container {
  height: 100vh;

  img {
    filter: contrast(130%) opacity(70%);
  }
}
