.dashboard-page {
  height: 100vh;
  width: 100%;
  background: #000;
}

.onos-sidebar {
  position: fixed;
  left: 0px;
  height: 100vh;
  bottom: 0px;
  top: 0px;
  width: 50px;
  background: rgba(18, 6, 46, 0.788);
  backdrop-filter: blur(5px);
  z-index: 99;
  padding: 15px 10px;

  .onos-logo {
    width: 35px;
  }
}

.info-bar {
  position: fixed;
  height: 100vh;
  width: 300px;
  background: rgba(14, 14, 14, 0.836);
  z-index: 99;
  right: 0px;
  top: 0px;
  display: none;
}
