$sidebar-header-color: #323946;
$bg-primary: #252831;
$endless-river: linear-gradient(to left, #43cea2, #185a9d);
$wire-tap: linear-gradient(to right, #8a2387, #e94057, #f27121);
$brady-fun: linear-gradient(to right, #00c3ff, #ffff1c);

.dashboard-page {
  height: 100vh;
  width: 100%;
  background: #000;
}

.text-white {
  color: #fff !important;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-warning {
  color: rgb(218, 157, 44);
}

.text-active {
  color: rgb(90, 202, 197);
}

.onos-sidebar {
  position: fixed;
  left: 10px;
  height: 90vh;
  top: 40px;
  width: 40px;
  background: rgba(7, 22, 61, 0.788);
  backdrop-filter: blur(5px);
  box-shadow: 0px 3px 12px -1px rgba(27, 23, 23, 0.774);
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;

  @media (max-width: 600px) {
    display: none;
  }

  .onos-logo {
    width: 22px;
    margin: 12px auto;
  }

  .sidebar-nav {
    margin: 10px auto;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;

    i {
      padding: 5px;
      margin-top: 15px;
      border-radius: 2px;
      color: rgba(148, 146, 146, 0.877);
      background: rgba(8, 8, 44, 0.973);
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background: rgba(10, 10, 126, 0.973);
        color: #fff;
        transition: 0.3s;
      }

      &.active {
        background: rgba(23, 197, 197, 0.973);
        color: rgba(10, 10, 126, 0.973);
        transition: 0.3s;
      }
    }
  }
}

.info-bar {
  position: fixed;
  height: 100vh;
  width: 300px;
  background: $bg-primary;
  backdrop-filter: blur(5px);
  z-index: 99;
  right: 0px;
  top: 0px;
  overflow: hidden;
  overflow-y: auto;

  @media (max-width: 600px) {
    width: 100%;
    height: 270px;
    top: unset;
    bottom: 0px;
    border-radius: 10px 10px 0px 0px;
    border-top: 5px solid #3cdbe6;
    box-shadow: 1px 0px 25px 2px rgba(107, 235, 218, 0.39);
  }

  .info-nav {
    background: $sidebar-header-color;
    padding: 0px 20px 8px;

    span {
      font-size: 11px;
      text-transform: uppercase;
      margin-right: 15px;
      color: rgb(124, 124, 124);
      padding: 10px 5px;
      cursor: pointer;
      border-bottom: 3px solid transparent;

      &:hover {
        transition: 0.3s;
        color: #fff;
      }

      &.active {
        font-weight: 700;
        color: #fff;
        border-bottom: 3px solid rgb(83, 139, 241);
        cursor: default;
      }
    }
  }

  .content-body {
    padding: 15px 15px;
    display: flex;
    flex-direction: column;
  }
}

.map-container {
  height: 100vh;
  width: 100%;
  display: grid;

  img {
    filter: contrast(130%) opacity(70%);
    height: 100%;
    width: 100%;

    @media (max-width: 750px) {
      transform: translateY(22%);
    }
  }
}

.card-item {
  background: $sidebar-header-color;
  border-radius: 2px;
  width: 100%;
  color: #fff;
  margin-bottom: 15px;
  height: auto;
}

.time-widget {
  padding: 10px 15px;
  height: auto;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #42c5ba;

  span {
    font-weight: 100;
  }

  small {
    font-size: 11px;
    color: #7e8085;
  }
}

.image-widget {
  $border-color: #3167ad;
  padding: 5px 10px 10px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;

  &.active-image {
    background: rgba(7, 22, 61, 0.788);
  }

  small {
    font-size: 11px;
    color: #7e8085;
    margin-bottom: 5px;

    i {
      color: #42c5ba;
    }
  }

  img {
    height: auto;
    width: auto;
    object-fit: cover;
  }

  button {
    border: 0;
    background: rgb(50, 107, 153);
    color: #fff;
    padding: 5px 15px;
    width: fit-content;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 11px;
    float: right;
    border-radius: 1px;
  }
}

.card-widget {
  padding: 10px 15px;
  height: auto;
  display: flex;
  // justify-content: center;
  align-items: center;
  border-left: 1px solid #42c5ba;

  div {
    width: 100%;
  }

  span {
    font-weight: 100;
  }

  small {
    font-size: 11px;
    color: #7e8085;
  }

  i {
    font-size: 40px;
    margin-right: 20px;
    color: #42c5ba;
  }

  div {
    display: flex;
    flex-direction: column;
  }

  &.danger {
    border-left: 8px solid #e94057;
    border-right: 8px solid #e94057;
    box-shadow: 0px 5px 12px -1px rgba(247, 110, 110, 0.164);

    color: #eb6e7e;
    i {
      color: #f15569;
    }
  }
}

.onos-slider {
  width: 100%;
}

.s-thumb {
  background: #6f7481;
  padding: 2px 5px;
  font-size: 10px;
  position: relative;
  top: -6px;
}

.s-track {
  background: $endless-river;
  height: 7px;
}

.x-track {
  background: $wire-tap;
  height: 7px;
}

.y-track {
  background: $brady-fun;
  height: 7px;
}

.s-track-1,
.x-track-1,
.y-track-1 {
  background: #515253;
}

.filter-sliders {
  height: auto;
}

.slider-segment {
  small {
    font-size: 12px;
    padding: 2px 10px;
    position: relative;
    top: -4px;
  }
  padding: 5px 0px;
  margin-bottom: 20px;
}

.item-list {
  color: #6f7481;
  padding: 0px 0px;
  list-style: none;

  li {
    font-size: 14px;
    border-bottom: 1px solid #515253;
    background: $sidebar-header-color;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;

    i {
      font-size: 20px;
      color: #42c5ba;

      &.la-chevron-circle-up {
        display: none;
      }
    }

    &:hover {
      background: #314058;
      border-left: 3px solid #42c5ba;
      color: #42c5ba;
      transition: 0.3s;
    }

    &.active {
      background: #314058;
      border-left: 10px solid #5cadf0;
      color: #68c7ec;
      transition: 0.3s;

      i {
        &.la-chevron-circle-up {
          display: block;
        }
        &.la-chevron-circle-down {
          display: none;
        }
      }
    }
  }
}

.report-segment {
  height: auto;
  border-left: 1px solid #42c5ba;
  .segment-header {
    margin: 10px 0px;
    position: relative;
    left: -1px;
    span {
      font-size: 13px;
      background: $sidebar-header-color;
      color: #fff;
      padding: 7px 15px;
      border: 1px solid #43cea2;
      border-left: 5px solid #43cea2;

      &.top-segment {
        padding-left: 5px;
      }
    }
  }
}

.text-header {
  color: rgb(158, 157, 157);
  font-size: 13px;
  text-transform: uppercase;

  small {
    text-transform: lowercase !important;
    color: #6b6b6b;
    line-height: 16px;
    display: block;
  }
}

.save-btn {
  background: #42c5ba;
  border: 0px;
  padding: 10px;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  margin: 20px 0px;
  text-transform: uppercase;
  transition: 0.3s;

  &:hover {
    background: #29948b;
    transition: 0.3s;
  }
}

.event-data {
  margin: 10px 0px;
  li {
    color: rgb(155, 154, 154);
    font-size: 12px;
    display: block;

    span {
      font-weight: 600;
      color: #ec8c85;
    }
  }
}

// image info tab

.image-info-tab {
  position: fixed;
  z-index: 99;
  right: 320px;
  top: 20px;
  background: rgba(0, 0, 0, 0.829);
  padding: 0px 15px;
  border-radius: 20px;
  color: rgba(255, 255, 255, 0.644);
  box-shadow: 0px 3px 12px -1px rgba(27, 23, 23, 0.774);

  @media (max-width: 600px) {
    // display: none;
    right: 20px;
  }

  span {
    font-size: 12px;
    font-weight: 100;
    position: relative;
    top: -2px;

    strong {
      color: #68b1ec;
    }
  }
}

// current image modes

.current-image-modes {
  position: fixed;
  display: flex;
  bottom: 10px;
  right: 310px;
  z-index: 100;

  @media (max-width: 600px) {
    display: none;
  }

  .image-box {
    $size: 80px;
    height: auto;
    width: $size;
    padding: 5px 5px 5px;
    background: rgba(0, 0, 0, 0.562);
    margin-left: 10px;
    cursor: pointer;
    opacity: 0.8;
    // filter: grayscale(70%);
    transition: 0.3s;

    small {
      color: #fff;
      font-size: 10px;
      text-transform: uppercase;
      display: none;

      i {
        color: #68c7ec;
      }
    }

    img {
      height: auto;
      object-fit: contain;
    }

    &:hover {
      opacity: 1;
      background: rgba(0, 0, 0, 0.774);

      small {
        display: block;
      }

      transition: 0.3s;
    }
  }
}
